.mainBox {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 100px;
}
@media screen and (max-width: 768px) {
  .mainBox {
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
  }

}
