body,
html {
  padding: 0;
  margin: 0;

  overflow-y: auto; /* Ensure vertical scrolling */
}

/* Rest of your CSS styles remain unchanged */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #B4AEE8;
  color: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1000;
}

.header-image {
  max-width: 100px;
  margin: auto;
}

.logo {
  width: 120px;
}

.nav-items > ul > li:hover {
  text-decoration: underline;
}



.Planet-card {
  width: 200px;
  height: 250px;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
  background-color: #CAF7E3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  font-family: dosis;
  text-align: center;
  color: black; /* Adding text color */
}
.Resident-card {
  padding: 10px;
  border-radius: 20px;
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: center;
   background-color: #CAF7E3;
  text-decoration: white;
 color: black;
}
.Resident-card:hover{
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adjust the shadow size and color */
  transform: translateY(-5px); /* Add a slight lift effect */
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.Planet-card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); /* Adjust the shadow size and color */
  transform: translateY(-5px); /* Add a slight lift effect */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Add transform property to the transition */
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  padding: 10px;
  margin: 10px;
  background-color: #2e557c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination button:hover {
  background-color: #381010;
}

.end-page {
  max-width: 300px;
}

.end-page-card {
  display: flex;
  justify-content: center;
}

.tag-line {
  display: flex;
  justify-content: center;
  font-family: dosis;
}

.modal-overlay {
  z-index: 2000;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
    background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 90%;
  width: 90%;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  font-family: dosis;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #381010;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

.modal-content {
  margin-top: 20px;
}

.resident-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .Main-box {
    margin-top: 150px;
    flex-direction: column;
    align-items: center;
  }

  .Planet-card {
    width: 100%;
    max-width: 200px;
    margin: 10px 0;
  }
  .resident-list {
    max-height: 700px; /* Set maximum height */
    overflow-y: auto; /* Add vertical scrollbar */
  }
  .modal {
    max-width: 60%;
    overflow-y: hidden; /* Prevent vertical scrolling */
  }
}
